importFrom("stats", "anova", "binomial", "glm", "pchisq", "predict",
             "rbinom", "update")

importFrom("utils", "read.table", "write.table")
import(snowfall)
import(ARTP)
import(xtable)
import(survival)
export(ARTP.GE)
export(compute.p.snp.obs)
export(data.to.list.gene.snp)
export(data.to.PIGE)
export(LR.cont)
export(LR.cont.boot)
export(LR.cont.surv)
export(LR.inter.cat)
export(LR.inter.cat.boot)
export(LR.inter.cat.surv)
export(LR.inter.cont)
export(LR.inter.cont.boot)
export(LR.inter.cont.surv)
export(permutation.snp)
export(bootstrap.snp)
export(permutation.wrapper.cat.inter)
export(permutation.wrapper.cat.inter.Y.and.X)
export(bootstrap.wrapper.cat.inter.Y.and.X)
export(permutation.wrapper.cont)
export(permutation.wrapper.cont.inter)
export(permutation.wrapper.cont.inter.Y.and.X)
export(bootstrap.wrapper.cont.inter.Y.and.X)
export(permutation.wrapper.cont.Y.and.X)
export(bootstrap.wrapper.cont.Y.and.X)
