export(ARTP.GE)
export(compute.p.snp.obs)
export(data.to.list.gene.snp)
export(data.to.PIGE)
export(LR.cont)
export(LR.cont.surv)
export(LR.inter.cat)
export(LR.inter.cat.surv)
export(LR.inter.cont)
export(LR.inter.cont.surv)
export(permutation.snp)
export(permutation.wrapper.cat.inter)
export(permutation.wrapper.cat.inter.Y.and.X)
export(permutation.wrapper.cont)
export(permutation.wrapper.cont.inter)
export(permutation.wrapper.cont.inter.Y.and.X)
export(permutation.wrapper.cont.Y.and.X)
